$cell-size: calc(5/3 * 1em);
$border-radius: calc((1/5 * 1em) + 1px);

.sudoku-cell{
    width: $cell-size;
    height: $cell-size;

    ::ng-deep .mat-form-field-wrapper{
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        border-radius: $border-radius;
        background: white;
        height: $cell-size;
    }

    ::ng-deep .mat-form-field-flex{
        margin-top: 0;
        height: $cell-size;
        padding: 0;
    }

    ::ng-deep .mat-form-field-outline {
        top: 0;
    }

    ::ng-deep .mat-form-field-infix{
        padding: 0;
        border-top: 0;
        height: $cell-size;
        display: flex;
    }

    ::ng-deep .mat-form-field-label-wrapper{
        top: 0;
        padding-top: 0;
    }

    input {
        text-align: center;
        margin-top: 1px;
    }
}