$border-inset: calc(-1/15 * 1em);
$border-radius-internal: calc(1/5 * 1em);
$border-radius: calc($border-radius-internal - $border-inset);

.section-row {
    width: fit-content !important;
    margin-bottom: $border-inset;
    background: black;

    .section{
        margin-left: $border-inset;
    }

    .section:first-child{
        margin-left: 0;
    }
}

.section-row:first-child {
    border-radius: $border-radius $border-radius 0 0;
}

.section-row:last-child {
    border-radius: 0 0 $border-radius $border-radius;
}