$border-width: calc(1/15 * 1em);
$border-radius-internal: calc(1/5 * 1em);
$border-radius: calc($border-radius-internal + $border-width);

.section-border{
    border: $border-width solid black;
    border-radius: $border-radius;
    background: grey;
}